<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Me By Me - CV</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/MeByMe.css' %}">

</head>
<body>
    <header>
        <h1>Miguel Lourenço</h1>
        <p>Estudante de engenharia informática</p>
    </header>

    <main class="container">
        <div class="profile">
            <div>
                <h2>Perfil</h2>
                <p>Sou um estudante de 20 anos , que se encontra neste momento a frequentar a
licenciatura de engenharia informática , sempre disponível para aprender e
para novos desafios, tenho tecnologia , gestão e mercados financeiros como os
meus principais interesses , interesses esses que tenciono usar na minha
especialização que tenciono que seja em consultoria e auditoria financeiras e
desenvolvimento de software</p>
            </div>
             {% load static %}
             <img src="{% static 'portfolio/fotomiguel.jpeg' %}" alt="Minha Foto" class="profile-image">
        </div>

        <div class="education">
            <h2>Educação e Formação</h2>
            <div class="school">
                <h3>Ensino Secundário </h3>
                <p><strong>Secundario em Ciencias e Tecnologias-Agrupamento de escola basico e secundário alfredo da silva </strong></p>
                <p><strong>2019 - 2022</strong></p>
                <h3>Ensino Universitario-Universidade Lusófona</h3>
                <p><strong>Licenciatura em Engenharia Informática</strong></p>
                <p><strong>2022 - 2025</strong></p>
            </div>
        </div>

        <div class="linguistic-skills">
            <h2>Competências Linguísticas</h2>
            <ul>
                <li>Português - Lingua Materna</li>
                <li>Inglês - Compreensão oral-B1 |  Leitura-B1 | Produção oral-A2 | Interação oral-A2 | Escrita-A2</li>
            </ul>
        </div>

        <div class="skills">
            <h2>Competências Digitais</h2>
            <ul>
                <li>HTML & CSS</li>
                <li>JavaScript</li>
                <li>Python & Django</li>
                <li>C/C#</li>
                <li>Java</li>
                <li>Kotlin</li>

            </ul>
        </div>

        <div class="conferences">
            <h2>Conferências e Seminários</h2>
            <ul>
                <h3>TecWeB</h3>
                <p>Partipação na TecWeb que é um evento onde as sessões empresariais e formações tecnológicas
de parceiros líderes de mercado empresarial de TI são a base de conhecimento a apresentar aos
participantes (alunos, ex-alunos, futuros alunos e comunidade universitária) organizada pelo
departamento de engenharia Informática da universiade Lusófona 2023 – 2023</p>
  <a href="https://files.fm/u/c5fc9w55rs#/view/fuwdqzeg6g"><p>Consultar certificado</p></a>

            </ul>
        </div>

        <div class="projects">
            <h2>Projetos</h2>
            <ul>
                <h3>Kid's Guernica</h3> <p>  Participação juntamente com a escola básica D.joão 1 no projeto Kid's Guenica organizado
pela associação de municípios da região de Setúbal , projeto este no qual a minha escola foi a vencedora
da edição </p>

            </ul>
        </div>


    </main>

    <footer>
        <p>Contact: miguellourencoo2004@gmail.com | +351 925 085 603</p>
         <a href="https://www.linkedin.com/in/miguel-louren%C3%A7o-780181268/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-2x"></i></a>
    </footer>
</body>
</html>
