
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação Tecnológica</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/PW.css' %}">

</head>
<body>

<div class="container">
    <h1>Programação Web</h1>
    <h2>Tecnologias Utilizadas:</h2>
    <ul>
        <li>Python</li>
        <li>Django</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>APIs</li>
    </ul>
</div>

<div class="parallax"></div>

<div class="container">
    <div class="technology">
        <h3>Python</h3>
        <p><b>Descrição: </b>Python é uma linguagem de programação de alto nível, conhecida por sua sintaxe clara e legibilidade. É amplamente utilizada em desenvolvimento web, ciência de dados, automação, e muitas outras áreas. O Django, por exemplo, é um framework web escrito em Python.</p>
        <p><b>Usado na Cadeira:</b> O Python foi usado essencialmente durante as primeiras 3 semanas da cadeira, servindo como uma fase de adaptação introdutória para o Django.</p>
    </div>
</div>
<div class="parallax"></div>

<div class="container">
    <h2>Como o Django Funciona</h2>
    <p>Veja o vídeo abaixo para entender o básico do funcionamento do Django, baseado no padrão MVC:</p>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/2b4i1rLtXAA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="parallax"></div>

<div class="container">
    <div class="technology">
        <h3>HTML</h3>
        <p><b>Descrição:</b> HTML (HyperText Markup Language) é a linguagem padrão para criar páginas web. Ele utiliza uma série de elementos e tags para estruturar o conteúdo, como textos, imagens, links e outros elementos multimídia.</p>
        <p><b>Usado na Cadeira:</b> O HTML foi utilizado durante uma boa parte da cadeira de Programação Web, sendo utilizado para a criação de diversas páginas simples para a sua introdução, bem como todas as apps realizadas ao longo da cadeira, como aplicação bandas, blog, curso.</p>
    </div>
</div>

<div class="parallax"></div>

<div class="container">
    <div class="technology">
        <h3>CSS</h3>
        <p><b>Descrição:</b> CSS (Cascading Style Sheets) é uma linguagem de estilo usada para descrever a apresentação de um documento HTML. Ele permite controlar o layout, cores, fontes e outros aspectos visuais das páginas web.</p>
        <p><b>Usado na Cadeira:</b> O CSS foi utilizado mais durante a fase final da cadeira de Programação Web, sendo utilizado para a estilização de todas as aplicações desenvolvidas durante o decorrer do semestre, assim como as que foram criadas para o projeto final, como por exemplo as bandas, o blog, o curso e o portfólio.</p>
    </div>
</div>

<div class="parallax"></div>

<div class="container">
    <div class="technology">
        <h3>APIs</h3>
        <p><b>Descrição:</b> APIs (Application Programming Interfaces) permitem a comunicação entre diferentes sistemas de software. Elas são utilizadas para integrar e disponibilizar serviços e dados de uma aplicação para outras.</p>
        <p><b>Usado na Cadeira:</b> As APIs foram introduzidas na parte final da cadeira de Programação Web com o objetivo de implementar uma aplicação de meteorologia com a API do IPMA, bem como a criação da nossa própria API do Tempo.</p>
    </div>
</div>

<div class="parallax"></div>

<div class="container">
    <div class="technology">
        <h3>JavaScript</h3>
        <p><b>Descrição:</b> JavaScript é uma linguagem de programação amplamente utilizada para criar conteúdo web dinâmico e interativo. Ele pode ser usado para manipular elementos HTML, validar formulários, criar animações e muito mais.</p>
        <p><b>Usado na Cadeira:</b> O JavaScript foi utilizado durante a fase final da cadeira de Programação Web, não tendo sido muito aprofundado, sendo utilizado para a criação de um relógio com data, horas e segundos na aplicação portfólio, bem como a implementação de um modo escuro na mesma.</p>
    </div>
</div>

<div class="parallax"></div>

<div class="container">
    <h2>Estrutura de um Projeto Django</h2>
    <p>Um projeto Django é organizado em:</p>
    <ul>
        <li><b>Projeto:</b> Contém as configurações globais e arquivos de gerenciamento.</li>
        <li><b>Aplicações:</b> Módulos independentes que podem ser reutilizados em diferentes projetos.</li>
        <li><b>Models:</b> Definem a estrutura dos dados do aplicativo.</li>
        <li><b>Views:</b> Contêm a lógica que manipula os dados e renderiza templates.</li>
        <li><b>URLs:</b> Roteiam requisições para as views apropriadas.</li>
        <li><b>Templates:</b> Arquivos HTML que exibem dados para os usuários.</li>
        <li><b>Statics:</b> Arquivos CSS e JavaScript para estilização e interatividade das páginas HTML.</li>
        <li><b>Admin:</b> Interface administrativa gerada automaticamente pelo Django para gerenciar dados do projeto.</li>
        <li><b>Djson:</b> Gerenciamento de arquivos e respostas JSON no Django.</li>
        <li><b>Loader:</b> Utilitário para carregamento de dados estáticos ou dinâmicos em templates.</li>
        <li><b>Forms:</b> Manipulação e validação de formulários HTML no Django.</li>
    </ul>
</div>

<div class="parallax"></div>

<div class="container">
    <h2>Visita Guiada ao Meu Projeto Django</h2>
    <p>Veja o vídeo abaixo para uma visita guiada pelo meu projeto Django e suas aplicações e páginas:</p>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ldIS3TaMazY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
</div>

<div class="parallax"></div>

</body>
</html>

