{% extends 'login/layout.html' %}

{% block content %}
<style>
    /* Styling for the completion message */
    .completion-message {
        text-align: center;
        margin-top: 50px;
    }

    .completion-message h2 {
        color: #333;
        margin-bottom: 20px;
    }

    .completion-message p {
        color: #666;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .completion-message a {
        color: #4CAF50;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .completion-message a:hover {
        color: #45a049;
    }
</style>

<div class="completion-message">
    <h2>Redefinição de Palavra-chave Concluída</h2>
    <p>A sua palavra-chave foi redefinida com sucesso. Agora pode fazer login com sua nova palavra-chave.</p>
    <a href="https://a22202315.pythonanywhere.com/Login/login/">Fazer Login</a>
</div>
{% endblock %}
