{% extends 'login/layout.html' %}

{% block content %}
<style>
    /* Styling for the completion message */
    .completion-message {
        text-align: center;
        margin-top: 50px;
    }

    .completion-message h2 {
        color: #333;
        margin-bottom: 20px;
    }

    .completion-message p {
        color: #666;
        font-size: 18px;
        margin-bottom: 20px;
    }
</style>

<div class="completion-message">
    <h2>Redefinição de Palavra-chave concluída</h2>
    <p>Um e-mail foi enviado com instruções para redefinir sua palavra-chave. Por favor, verifique sua caixa de entrada e siga as instruções fornecidas.</p>
</div>
{% endblock %}
