{% extends 'login/layout.html' %}

{% block content %}
<style>
    /* Styling for the password reset form */
    .container {
        text-align: center;
        margin-top: 50px;
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        background-color: #f8f8f8;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .container h1 {
        color: #333;
        margin-bottom: 20px;
    }

    .container form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container input[type="password"] {
        width: 300px;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .container button[type="submit"] {
        width: 200px;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .container button[type="submit"]:hover {
        background-color: #45a049;
    }
</style>

<div class="container">
    <h1>Redefinir a Palavra-chave</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Redefinir</button>
    </form>
</div>
{% endblock %}

