{% extends 'blog/layout.html' %}

{% block content %}
    <style>
    </style>

    <h2  class ="VA">Avaliações</h2>
    {% if avaliacao %}
        <ul class="avaliacao-list">
            {% for avaliacaos in avaliacao %}
                <li class="avaliacao-item">
                    <p>Autor: {{ avaliacaos.autor }}</p>
                    <p>Pontuação: {{ avaliacaos.pontuacao }}</p>
                    {% if request.user.is_authenticated %}
                        <div class="avaliacao-actions">
                            <a href="https://a22202315.pythonanywhere.com/Blog/avaliacao/{{avaliacao.autor}}/edita/">
                                <button>Editar Avaliação</button>
                            </a>
                            <a href="https://a22202315.pythonanywhere.com/Blog/avaliacao/{{avaliacao.autor}}/apaga/">
                                <button>Apagar Avaliação</button>
                            </a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-avaliacao">Nenhuma avaliação disponível para este artigo.</p>
    {% endif %}
    {% if request.user.is_authenticated %}
    <div class="insert-avaliacao-container">
        <div class="avaliacao-button-box">
            <a href="https://a22202315.pythonanywhere.com/Blog/avaliacao/novo"><button>Inserir nova avaliação</button></a>
        </div>
    </div>
      {% endif %}
{% endblock %}
