<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML</title>
      <style>
        body {
            background:red;
            color: white;
        }
    </style>
</head>
<body>

    <header>
        <h1>Benfica</h1>
    </header>

    <main>
        <img src="https://ih1.redbubble.net/image.5325424674.8636/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="Imagem">

      <h2>Descriçao</h2>
      <p>O Sport Lisboa e Benfica ComC • MHIH • OB, mais conhecido como Benfica, é um clube multidesportivo português fundado em 1904 e sediado na freguesia de São Domingos de Benfica, em Lisboa. Foi campeão nacional de futebol em 38 temporadas e venceu duas vezes a Liga dos Campeões da UEFA.</p>
      <p>A principal modalidade masculina sénior do clube é o futebol, mas distingue-se também noutras, como o andebol, o basquetebol, o futsal, o hóquei em patins e o voleibol. Tem ainda modalidades seniores femininas e escalões de formação em ambos os géneros em diferentes modalidades</p>
      <p>O seu historial e forte base de adeptos fazem do Benfica um dos três grandes clubes nacionais, a par do Futebol Clube do Porto e do Sporting Clube de Portugal, com os quais mantém uma forte rivalidade.<p>
     <p>As cores do clube são o vermelho e branco, o clube tem a alcunha de Glorioso, Águias ou Encarnados e os seus adeptos são chamados Benfiquistas.<p>



      <h2>História</h2>
      <p>No futebol sénior masculino (primeiro escalão), o Benfica foi eleito pela FIFA o 12º maior clube de futebol do século XX e foi considerado pela IFFHS o 9º melhor clube europeu do século XX, sendo o primeiro entre os clubes portugueses.[carece de fontes]

No futebol sénior masculino (primeiro escalão), o clube ganhou 8 títulos da Primeira Liga, 26 Taças de Portugal, 7 Taças da Liga e 7 Supertaças Cândido de Oliveira.

 Em 2014, o Benfica conquistou no futebol sénior masculino (primeiro escalão) o inédito triplete da Primeira Liga, Taça de Portugal e Taça da Liga. Nesse ano também ganhou a Supertaça, tornando-se no único clube português a ganhar as quatro competições domésticas no mesmo ano.     <p>
      <p>A nível internacional no futebol masculino sénior (primeiro escalão), o clube conquistou duas Taças dos Campeões Europeus, ambas no início dos anos sessenta (épocas 1960–61 e 1961–62), a segunda delas com a ajuda do lendário Eusébio, um eterno símbolo benfiquista, que após o final da sua carreira se tornou um embaixador itinerante do Benfica e de Portugal.<p>
      <p>O Benfica tornou-se o primeiro clube português na história dos Campeonatos do futebol sénior masculino (primeiro escalão) a completar 30 jogos sem perder, nomeadamente nas épocas 1972–73 e 1977–78. Na época 1972–73, o Benfica conseguiu a maior diferença de sempre de pontos do campeão para o segundo classificado (18), num sistema em que era atribuído 2 pontos por cada vitória<p>
      <p>O Benfica também tem o recorde europeu para o número de vitórias consecutivas numa liga doméstica (29) no futebol sénior masculino (primeiro escalão), alcançado entre as épocas 1971–72 e 1972–73)<p>

       <h2>Pai dos :</h2>
     <nav>
     <a href="{% url 'novaapp:sporting' %}">Sporting</a>
     </nav>


     <nav>
     <a href="{% url 'novaapp:porto' %}">Porto</a>
     </nav>



    </main>

    <footer>
        <p>&copy; 1904 Benfica ," E Pluribus Unum" .</p>
    </footer>

</body>
</html>